/* ------------------ GLOBAL VARIABLES ------------------ */
:root { 
    --bars: orange;
}

/* ------------------ GLOBAL STYLING ------------------ */

/* Media Queries - Breakpoints */
/* Phone W 430 */
@media (max-width: 431px) {
    body {
        background-color: red;
    }
}

/* Tablet W 431-1024*/
@media (min-width: 431px) and (max-width: 1024px) {
    body {
        background-color: green;
    }
}

body {
    font-family: "Tahoma";
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

.flex {
    display: flex;
}

img {
    max-width: 100%;
}


/* ------------------ LOCAL STYLING ------------------ */
/* Header */
header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--bars);
}

.headerIcon {
    height: 4rem;
}

.headerNavList {
    list-style-type: none;
    gap: 1em;
}

/* Main/Hero */
.hero {
    align-items: center;
}

/* Card Section */
.cardSection {
    background-color: pink;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImg {
    height: 10rem;

}

.cardDivContainer {
    justify-content: space-evenly;
}

.cardDiv {
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: blueviolet;
}

.cardDivText {
    flex-direction: column;
}

/* Signoff Section */
.signOff {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

}

/* Footer */

footer {
    background-color: var(--bars);
}

/* ------------------ NAME ------------------ */

