/* ------------------ GLOBAL VARIABLES ------------------ */
:root { 
    --bars-color: #46236C;
    --bars-pad: 1em 2em;
}

/* ------------------ GLOBAL STYLING ------------------ */
@font-face {
    font-family: Audiowave;
    src: url(/assets/fonts/Audiowide-Regular.ttf)
}

@font-face {
    font-family: Afacad;
    src: url(/assets/fonts/Afacad-VariableFont_wght.ttf);
    src: url(/assets/fonts/Afacad-VariableFont_wght.ttf)
}

/* ----- Get rid of ALL padding and margins ----- */
* {
    margin: 0;
    padding: 0;
}
/* ----- Begone useless spaces I did not ask for ----- */

body {
    font-family: "Afacad", "sans-serif";
}

a:link {
    color:#FF8EE6;
    text-decoration: none;
}

.flex {
    display: flex;
}

h1, h2, h3 {
    font-family: "Audiowave", "sans-serif";
}

h1 {
    /* Syntax: clamp(minimum, preferred, maximum) */
    font-size: clamp(2.4rem, 5vw, 4rem);
    color: #46236C;
    text-shadow:
    .02em .02em 0px #fff, 
    -.02em .02em 0px #fff,
    -.02em -.02em 0px #fff,
    .02em -.02em 0px #fff,
    0px .05em 0px #98E9FF,
    0px .1em 0px #DEA9FF;
}

h2 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: #fff;
    text-shadow:
    .04em .04em 0px #46236C, 
    -.04em .04em 0px #46236C,
    -.04em -.04em 0px #46236C,
    .04em -.04em 0px #46236C,
    0px .08em 0px #93FFCC,
    0px .14em 0px #DEA9FF;
}

h3 {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
    color: #FF8EE6;
    text-shadow:
    .02em .02em 0px #fff, 
    -.02em .02em 0px #fff,
    -.02em -.02em 0px #fff,
    .02em -.02em 0px #fff,
    0px .09em 0px #93FFCC,
    0px .15em 0px #DEA9FF;
}

/* ------------------ LOCAL STYLING ------------------ */

/* Header */
header {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--bars-color);
    padding: var(--bars-pad);
}

.navIcon {
    height: 4rem;
}

.headerNavList {
    list-style-type: none;
    gap: 1em;
    font-family: "Audiowave", "sans-serif";
    font-size: clamp(1.5rem, 5vw, 2rem);
}

/* ----- LINK ANIMATIONS ----- */

.headerNavList a:link {
    color: #fff;
    text-shadow:
    .03em .03em 0px #46236C, 
    -.03em .03em 0px #46236C,
    -.03em -.03em 0px #46236C,
    .03em -.03em 0px #46236C,
    0px .09em 0px #93FFCC,
    0px .15em 0px #DEA9FF;
    text-decoration: none;
    transition-property: text-shadow;
    transition-timing-function: linear;
    /* transition-delay: 0.05s; */
    transition-duration: .2s;
}

.headerNavList a:visited {
    color: #fff;

}

.headerNavList a:hover {
    /* color: #98E9FF; */
    text-shadow:
    .04em .04em 0px #FF8EE6, 
    -.04em .04em 0px #FF8EE6,
    -.04em -.04em 0px #FF8EE6,
    .04em -.04em 0px #FF8EE6,
    .18em .18em 0px #93FFCC,
    -.18em -.18em 0px #98E9FF,
    .18em -.18em 0px #DEA9FF;
    text-decoration: none;
}

/* Main/Hero */
.hero {
    align-items: center;
    justify-content: space-around;
    padding: 6rem 2rem;
    gap: 1rem;
}

.hero img {
    max-width: 80%;
}

.heroTextWrapper {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

/* Card Section */
.cardSection {
    padding: 3rem 5rem;
    background-color: var(--bars-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.cardImg {
    height: 200px;
    object-fit: contain;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.cardDiv {
    color: #fefefe;
    font-size: 1.2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.readMore {
    margin-top: auto;
}

/* Signoff Section */
.signOff {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 7rem 2rem;
    text-align: center;
}

.signOff img {
    height: 300px;
    object-fit: contain;
}

.signOff h2 {
        /* Syntax: clamp(minimum, preferred, maximum) */
        font-size: clamp(4rem, 10vw, 6rem);
        color: #46236C;
        text-shadow:
        .02em .02em 0px #fff, 
        -.02em .02em 0px #fff,
        -.02em -.02em 0px #fff,
        .02em -.02em 0px #fff,
        0px .05em 0px #98E9FF,
        0px .1em 0px #DEA9FF;
}

/* Footer */

footer {
    background-color: var(--bars-color);
    padding: var(--bars-pad);
}

/* ------------------ PAGES ------------------ */

.planetPage {
            /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* max-width: 60vw; */
    padding: 3rem 15rem;
}

.planetName {
                    /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
}

.planetSubTitle {
    justify-content: space-evenly;
    gap: 4rem;
}

.pageImg {
            /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
    max-width: 20vw;
}

.planetBasics {
                /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
}

.planetType {
                /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
}

.planetAtmo {
                /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
}

.planetInfo {
                /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
        font-size: 1.3rem;
        flex-direction: column;
        gap: 2rem;
}

.makeContact {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-left: auto;
}

.makeContact p {
    font-size: 1.5rem;
}

.makeContact ul {
    font-size: 1.8rem;
    list-style-image: url("/assets/orbit.png")
}

/* ------------------ MEDIA QUERIES BREAK POINTS ------------------ */

/* ----- Phone W 430 ----- */
@media (max-width: 431px) {

    header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 1rem;
        height: auto;
        padding-top: 2rem;
    }

    .headerNavList {
        display: none;
        background-color: #46236C;
    }

    body {
        /* background-color: red; */
    }

    /* HERO */
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem 1rem 3rem 1rem;
        
    }

    .heroTextWrapper {
        width: 100%;
}

    /* PLANETS */

    .cardSection {
        padding: 2rem 1rem;
    }
    
    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }
    
    .cardDiv {
        gap: 1.5rem;
    }
}

/* ----- Tablet W 431-1024 -----*/
@media (min-width: 431px) and (max-width: 1024px) {
    body {
        /* background-color: green; */
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .heroTextWrapper {
        width: 100%;
    }
    
    .cardSection {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .cardGrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }
    
    .cardDiv {
        gap: 1rem;
    }
}

/* ------------------ NAME ------------------ */

