/* ------------------ GLOBAL VARIABLES ------------------ */
:root { 
    --bars-color: #26133A;
    --bars-pad: 1em 2em;
}

/* ------------------ GLOBAL STYLING ------------------ */
@font-face {
    font-family: Audiowave;
    src: url(/assets/fonts/Audiowide-Regular.ttf)
}

@font-face {
    font-family: Afacad;
    src: url(/assets/fonts/Afacad-VariableFont_wght.ttf);
    src: url(/assets/fonts/Afacad-VariableFont_wght.ttf)
}

/* ----- Get rid of ALL padding and margins ----- */
* {
    margin: 0;
    padding: 0;
}

/* ----- Begone useless spaces I did not ask for ----- */

body {
    font-family: "Afacad", "sans-serif";
}

/* section {
    height: 100vh;
} */

.flex {
    display: flex;
}

img {
    max-width: 30vw;
}

h1, h2, h3 {
    font-family: "Audiowave", "sans-serif";
}

h1 {
    /* font-size: 4em; */
    /* Syntax: clamp(minimum, preferred, maximum) */
    font-size: clamp(4.8vh, 4.8vw, 6vw);
}

h2 {
    font-size: clamp(1rem, 6vw, 7rem);
}

h3 {
    font-size: clamp(1rem, 4vw, 2rem);
}

/* ------------------ LOCAL STYLING ------------------ */

/* Header */
header {
    justify-content: space-between;
    align-items: center;
    height: 5em;
    background-color: var(--bars-color);
    padding: var(--bars-pad);
}

.headerIcon {
    height: 4rem;
}

.headerNavList {
    list-style-type: none;
    gap: 1em;
    font-family: "Audiowave", "sans-serif";
    font-size: 2em;
    font-size: clamp(1rem, 2vw, 5rem);
}

/* Main/Hero */
.hero {
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 100vh;
}

.heroTextWrapper {
            /* border for testing */
        /*  */border-style: solid;
        /*  */border-width: 1px;
        /*  */border-color:green;
        /*  */
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* Card Section */
.cardSection {
    background-color: pink;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImg {
    height: 10rem;

}

.cardDivContainer {
    justify-content: space-evenly;
}

.cardDiv {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: blueviolet;
}

.cardDivText {
    align-items: center;
    gap: 2em;
}

/* Signoff Section */
.signOff {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

}

/* Footer */

footer {
    background-color: var(--bars-color);
    padding: var(--bars-pad);
}

/* ------------------ MEDIA QUERIES BREAK POINTS ------------------ */
/* Phone W 430 */
@media (max-width: 431px) {
    body {
        background-color: red;
    }

    img {
        max-width: 50vw;
     }

    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }

    .heroTextWrapper {
        width: 100vw;
}
    
    .cardSection {
        background-color: pink;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .cardImg {
       max-height: 50vh;
    }
    
    .cardDivContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .cardDiv {
        align-items: center;
        background-color: blueviolet;
        width: 100vw;
        gap: 1rem;
    }
    
    .cardDivText {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 2em;
    }
}

/* Tablet W 431-1024*/
@media (min-width: 431px) and (max-width: 1024px) {
    body {
        background-color: green;
    }
}

/* ------------------ NAME ------------------ */

